@model Project.Entities.MilitaryUnitEntity
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Добавить военную организацию</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #1F2739;
            color: #A7A1AE;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            color: #4DC3FA;
        }

        .form-container {
            width: 50%;
            margin: 20px auto;
            background-color: #2C3446;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-group label {
            color: #FFF842;
        }

        .btn {
            margin-top: 10px;
            background-color: #1F2739;
            color: white;
            font-weight: bold;
            transition: background-color 0.3s;
        }

            .btn:hover {
                background-color: #FFF842;
                color: #403E10;
            }

        .text-danger {
            color: #FB667A;
        }
    </style>
</head>
<body>

    <div class="form-container">
        <h1>Добавить военную организацию</h1>

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a asp-action="Index" class="btn btn-secondary">Отмена</a>
        </form>
    </div>

</body>
</html>